
*.asv

EAS506 - Data Mining/HW2/msah/

EAS506 - Data Mining/HW2/msah.rar

*.tmp

EAS506 - Data Mining/HW3/.ipynb_checkpoints/HW3_P1-checkpoint.ipynb

EAS506 - Data Mining/HW3/.ipynb_checkpoints/HW3_P2-checkpoint.ipynb

EAS506 - Data Mining/HW3/.ipynb_checkpoints/HW3_P4-checkpoint.ipynb

EAS506 - Data Mining/HW1/.ipynb_checkpoints/

*.odt#

EAS503/LAB2/test_4families_annovar.vcf

EAS503/LAB2/test_4families_annovar.vcf.gz

EAS506 - Data Mining/Final Project/New_York_City_.png

*.m~

*.mlx

EAS506 - Data Mining/.RData

EAS506 - Data Mining/.Rhistory

EAS506 - Data Mining/HW4/.ipynb_checkpoints/HW4_Q1-checkpoint.ipynb

EAS506 - Data Mining/HW4/.ipynb_checkpoints/HW4_Q2-checkpoint.ipynb

EAS506 - Data Mining/HW4/.ipynb_checkpoints/HW4_Q3-checkpoint.ipynb

EAS506 - Data Mining/HW4/.ipynb_checkpoints/HW4_Q4-checkpoint.ipynb

EAS506 - Data Mining/HW4/.ipynb_checkpoints/prostate-checkpoint.csv

EAS506 - Data Mining/HW4/.ipynb_checkpoints/wine-checkpoint.csv

EAS503/LAB2/.ipynb_checkpoints/

EAS506 - Data Mining/HW4/msah/SPAM_DATA/.ipynb_checkpoints/

EAS506 - Data Mining/HW4/msah/WEEKLY_DATA/.ipynb_checkpoints/

EAS506 - Data Mining/HW4/msah/WINE_DATA/.ipynb_checkpoints/

EAS506 - Data Mining/HW4/WEEKLY_DATA/.ipynb_checkpoints/

EAS506 - Data Mining/HW4/msah/PROSTATE_DATA/.ipynb_checkpoints/

EAS506 - Data Mining/HW4/msah/WrittenReportHW4.pdf

EAS506 - Data Mining/HW4/msah.zip

EAS506 - Data Mining/HW5/.ipynb_checkpoints/

EAS506 - Data Mining/HW4/.ipynb_checkpoints/

EAS595 /Project/.ipynb_checkpoints/

EAS595 /Project/.Rhistory

*.png
 

*.odt

Programming Database for Data Science/.ipynb_checkpoints/

Statistical Data Mining/HW3/.ipynb_checkpoints/

Statistical Data Mining/HW5/.ipynb_checkpoints/

Statistical Data Mining/HW4/WINE_DATA/.ipynb_checkpoints/

Statistical Data Mining/HW4/SPAM_DATA/.ipynb_checkpoints/

Statistical Data Mining/HW4/PROSTATE_DATA/.ipynb_checkpoints/

Statistical Data Mining/HW4/.ipynb_checkpoints/

Probability and Statistics/Project/.ipynb_checkpoints/

Statistical Data Mining/HW1/.ipynb_checkpoints/

Statistical Data Mining/HW2/.ipynb_checkpoints/

Probability and Statistics/Project/.Rhistory

Programming Database for Data Science/LAB2/test_4families_annovar.vcf

Programming Database for Data Science/LAB2/test_4families_annovar.vcf.gz

Statistical Data Mining/HW2/ticdata2000.txt

Statistical Data Mining/HW2/TicDataDescr.txt

Statistical Data Mining/HW2/ticeval2000.txt

Statistical Data Mining/HW2/tictgts2000.txt

Probability and Statistics/.~lock.EAS595_Fall2019_HW4 (1).docx#

Statistical Data Mining/HW1/.RData

Statistical Data Mining/HW1/.Rhistory
